<div class="home-banner">
  <h1>The Cocktail Shop</h1>
  <h2 style="color: #f1e0d0; margin-top: 20px;">Shake a cocktail or <%= link_to 'Add a new mix', new_cocktail_path, class: "index-btn" %></h2>
</div>
<div class="middle-body">
  <div class="container">
    <div class="cards-grid">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card">
            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, class: "img" %>
            <% else %>
              <img class="img" src= "https://images.unsplash.com/photo-1610218587984-c3ed94c74743?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" alt="cocktail">
            <% end %>
            <p><%= cocktail.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

