h1 {
  color: #ea5611;
}

h2 {
  color: #ea5611;
}

label {
  color: #ea5611;
  font-size: 20px;
}

.second-container {
  display: flex;
  margin-top: 30px;
}

.rightside {
  margin-left: auto;
  margin-right: auto;
}

.right-bottom {
  margin-top: 120px;
}

